extends layout

block content
	div(style='margin-left: 3vw; margin-top: 3vh; max-width: 20vw')
		h1 Adapter App API
		h2 Available Routes
		hr
		a(href='/api/'): p /
		a(href='/api/buildings'): p /buildings
		a(href='/api/buildings/norton'): p /buildings/:building
		a(href='/api/buildings/norton/101'): p /buildings/:building/:room
		a(href='/api/devices'): p /devices
		a(href='/api/devices/macbook-air-2011-2014'): p /devices/:device

