extends layout

block content
	div(style='margin-left: 3vw; margin-top: 3vh; max-width: 20vw')
		h1 Adapter App API
		h2 Available Routes
		hr
		p /
		p /buildings
		p /buildings/:building
		p /buildings/:building/rooms
		p /buildings/:building/:room
		p /devices
		p /devices/:device

