body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

p {
  font-family: monospace;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5vw;
  background-color: #2b3a42;
  color: #eff2e2;
}
p:hover {
  box-shadow: 2px 5px 3px 0px #ccc;
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
}
.routes {
  margin-left: 3vw;
  /* margin-top: 3vh; */
  max-width: 20vw;
}
.resp {
  width: 50vw;
}
